main.home {
	background-image: url("https://i.pinimg.com/564x/9b/a6/74/9ba674a45ae0de4359ebc86905d25872.jpg");
	/* 	width: 100%;
	height: 100vh; */
	min-height: 100vh;
	background-size: contain;
	background-position: 50%;
	background-repeat: repeat;
}
.Tarjetas {
	display: grid;
	grid-template-rows: 40vh 40vh 40vh;
	grid-template-columns: 40vh 40vh 40vh;
	width: 70%;
	margin: auto;
}
h2.loading {
	background-color: beige;
	width: fit-content;
	margin: auto;
}
h2.notFound {
	background-color: #ffffffa8;
	width: fit-content;
	margin: auto;
	border-radius: 10px;
	width: 30%;
}
h1.home {
	background-color: #efb190b2;
	width: fit-content;
	margin: auto;
}

div.filtros {
	background-color: #000000a1;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;
	border-radius: 15px;
	padding-bottom: 1%;
	color: antiquewhite;
	font-weight: bolder;
}
