ul.paginado {
	margin: 0px;
}
nav.paginado {
	margin: 0px;
}

li.paginado {
	display: inline;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 70%;
	margin: auto;
	border-radius: 5px;
}

li.paginado :hover {
	background-color: rgba(255, 225, 0, 0.7);
	display: inline;	
	margin: auto;
	border-radius: 5px;
}
li.active {
	background-color: rgba(255, 225, 0, 0.7);
	display: inline;
	padding: 8px;
	width: 70%;
	margin: auto;
	border-radius: 5px;
}
