main.activity {
	background-image: url("https://i.pinimg.com/564x/31/4a/5b/314a5bff66cc3ad7a7b6e88ab5efeace.jpg");
	min-width: 100%;
	min-height: 100vh;
	background-size: contain;
	background-position: 50%;
	background-repeat: repeat;
}

h2.actividades {
	background-color: rgba(255, 229, 127, 0.9);
	font-weight: bolder;
	width: fit-content;
	margin: auto;
	padding: 0.5%;
	border-radius: 5px;
}
